# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| --- |
| RStudio |
| Jupyter Notebook |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
hour = 200 // 60
print(hour)

3

## Author
Nguyen Thanh Huyen